$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
    
    &__logo{
        
        width: 45%;
        padding-top: 20px;
        padding-bottom: 10px;
   
        }

    &__localisation{
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(231, 230, 230);
        height: 45px;
        .fa-solid{
            color:#413f41;
            margin-right: 20px;
            font-size: 15px;
            
        }

        
    }

    &__button{
        margin-top: 30px;
        align-self: center;
        border-radius: 55px;
        border: hidden;
        width: 60%;
        height: 45px;
        color:#f3f3f3;
        font-size: 16px;
        font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
        background: -moz-linear-gradient(-100%, #ee65d7f5 0%, #ba4dc4 50%, #b420ee 100%);
        background: -webkit-linear-gradient(-10deg, #ee65d7f5 0%, #ba4dc4 50%, #b420ee 100%);
        background: linear-gradient(175deg, #ee65d7f5 0%, #ba4dc4 50%, #b420ee 100%);
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.2)
    }

    &__explore{
        display: flex;
        padding-top: 25px;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: 250px;
        background-color: rgb(238, 238, 238);
    }

    &__font_text{
        color:black;
        font-family: 'Roboto' , Arial, Helvetica, sans-serif;
        &.banniere{
            width: 80%;
            align-self: center;
            font-weight: 900;
            text-align: center;
            font-size: 25px;
            
        }

        &.localisation
        {
            font-size: 16px;
            font-weight: bolder;
            
        }

        &.basic_text{
            margin-top: 20px;
            font-weight: 300;
            align-self: center;
            width: 80%;
            
            font-size: 18px;
            text-align: center;
        }

        

    }

    
    
}